.eyeTrackingWord
{
    /*color: rgb(119, 119, 97);
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', sans-serif;*/
    /*font-size: 22.5px; 
    letter-spacing: 0;
    /*line-height: 17px;*/
    /*background: #faf;*/
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    opacity: 1.00;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 4px;
    line-height: 150%;
    /*
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;*/
}
.eyeTrackingWord.sampled{
    color: red;

}
.eyeTrackingContext {
    color: #9598AA;
}